:root{
    --color-white: #FFFFFF;
    --color-lightblue:#007aff;
    --color-darkblue:#00043e;
    --color-gray:#303030;
    --color-lightgray:#818181;
    --font-h2: 'Montserrat', sans-serif;
    --main-font:'Lato', sans-serif;
    --menu-font-size: 13px;
    --titulo-destaque-font-size:63px;
    --subtitulo-destaque-font-size: 21px;
    --subscribe-button-destaque-font-size: 14px;
    --titulo-sobre-font-size:24px;
    --texto-sobre-font-size:19px;
    --titulo-curses-font-size:19px;
    --texto-curses-font-size: 15px;
    --datas-calendario-font-size: 36px;
    --titulo-calendario-font-size:19px;
    --texto-calendario-font-size:15px;
    --botao-calendario-font-size:32px;
    --informações-contato-font-size:15px;
    --color-gray-background:#f6f6f6;
}